
input[type=checkbox] {
    display: none;
}

.containerZoom {
    margin: 10px;
}
.containerZoom img {
    /* margin: 100px; */
    transition: transform 0.25s ease;
    cursor: zoom-in;
}

input[type=checkbox]:checked~label>img {
    transform: scale(3);
    cursor: zoom-out;
}
