.fondo{
    background: url(../../../public/assets/images/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    background-size: cover;
}

.ministerio{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    object-fit: contain;
}